<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传图片测试</title>
</head>
<body>

<form method="post" enctype="multipart/form-data" action="/merchant/uploadfile/ttt">
    用户名：<input type="text" name="username">
    <br>
    头像选择：<input type="file" name="headphoto">
    <br>
    <button type="submit">提交</button>

</form>

</body>
</html>
